.image-container {
    background-size: cover;
    min-height: 220px;
  }
  @media (min-width: 0px) {
    .images-wrapper {
      column-count: 2;
    }
  }
  @media (min-width: 420px) {
    .images-wrapper {
      column-count: 3;
    }
  }
  @media (min-width: 720px) {
    .images-wrapper {
      column-count: 3;
    }
  }
  .pick-single-image {
    margin: 4px;
  }