<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="">
      Checklist
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button name="arrow-back-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content  color="primary"  [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
  <ion-list lines="none">
    <ion-item-group class="ion-padding">
      <form [formGroup]="form">
        <ion-item-group>
          <ion-item>
            <ion-label>Air</ion-label> 
            <ion-checkbox value="air" color="primary" ></ion-checkbox>
            </ion-item>
        </ion-item-group>

      <ion-item-group>
        <ion-item>
          <ion-label>Water</ion-label>
          <ion-checkbox color="primary"></ion-checkbox>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item> 
          <ion-label>Brake</ion-label>
          <ion-checkbox color="primary" ></ion-checkbox>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item>
          <ion-label>Oil</ion-label>
          <ion-checkbox color="primary"></ion-checkbox>
          </ion-item> 
      </ion-item-group>

      <ion-item-group>
          <ion-item>
            <ion-label>Battery</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item> 
      </ion-item-group>

      <ion-item-group>
          <ion-item>
            <ion-label>Engine</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item> 
      </ion-item-group>

      <ion-item-group>
        <ion-item>
        <ion-label>Meter</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
        </ion-item> 
      </ion-item-group>  
      
     
      <ion-item-group>
        <ion-item>
        <ion-label>Sample</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
        </ion-item> 
      </ion-item-group>  

      <ion-item-group>
        <ion-item>
        <ion-label>Sample</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
        </ion-item> 
      </ion-item-group>  
</form>
<footer>
  <ion-button  expand="block" shape="round" color="dark"
routerLink="/home" >
<!--  [disabled]="!form?.valid" -->
<ion-text>Save</ion-text>
</ion-button>
</footer>
</ion-item-group>
  </ion-list>

</ion-content>
