<ion-content [fullscreen]="true">

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!back"></ion-menu-button>
      <ion-back-button *ngIf="back" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/userupdate">EDIT</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img src="assets/imgs/pic1.jpg" />
        <ion-label><strong><h1>{{user?.name}}</h1></strong></ion-label>
      </ion-avatar>
    </div>
  </ion-grid>



  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Name</ion-text>
        <p>
          <ion-text color="dark">{{user?.name }}</ion-text>
        </p>
      </ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label>
        <ion-text>Vehicle</ion-text>
        <p>
          <ion-text color="dark">Sample Vehicle Unit</ion-text>
        </p>
      </ion-label>
    </ion-item> -->
    <ion-item>
      <ion-label>
        <ion-text>Phone</ion-text>
        <p>
          <ion-text color="dark">{{user?.phone_number}}</ion-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Email</ion-text>
        <p>
          <ion-text color="dark">{{user?.email}}</ion-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Age</ion-text>
        <p>
          <ion-text color="dark">{{user?.age}}</ion-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-text>Address</ion-text>
        <p>
          <ion-text color="dark">{{user?.address}}</ion-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>