<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="">
      <p class="centered-p">Add service</p>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/slist" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-list lines="none">

    <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>

      <ion-item>
        <ion-label position="floating">Service Name</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>



      <ion-item>
        <ion-label>Service Type/s</ion-label>
        <ion-select multiple formControlName="service_ids">
          <ion-select-option value="1">Oil Filter</ion-select-option>
          <ion-select-option value="2">Air</ion-select-option>
          <ion-select-option value="3">Gas</ion-select-option>
          <ion-select-option value="4">Battery</ion-select-option>
          <ion-select-option value="5">Engine</ion-select-option>
          <ion-select-option value="6">Water</ion-select-option>
          <ion-select-option value="7">Oil</ion-select-option>
          <ion-select-option value="8">Belts</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Date of service</ion-label>
        <ion-datetime formControlName="date" displayFormat="DD.MM.YYYY" presentation="date"></ion-datetime>
      </ion-item>

        <ion-item>
          <ion-label>Service Provider</ion-label>
          <ion-select formControlName="provider_id">
            <ion-select-option value="1">Motortrade</ion-select-option>
            <ion-select-option value="2">Toyota</ion-select-option>
            <ion-select-option value="3">Hyundai</ion-select-option>
            <ion-select-option value="4">Honda</ion-select-option>
            <ion-select-option value="5">Mitsubish</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-item>
        <ion-label>Cost</ion-label>
        <ion-input  placeholder="₱0.00" inputmode="decimal" [(ngModel)]="entry" name="amount" formControlName="cost"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Notes</ion-label>
        <ion-textarea formControlName="notes" rows="9" cols="20" placeholder="Enter any notes here...">
        </ion-textarea>
      </ion-item>
      <ion-button size="large" expand="block" shape="round" color="dark"
      (click)="submitForm()"  >
      <!--  [disabled]="!form?.valid" -->
      <ion-text>Submit</ion-text>
    </ion-button>
    </form>
  </ion-list>
</ion-content>