<div class="container">
  <ion-icon name="close-outline" (click)="closeModal()"></ion-icon>
  <div class="sub-container-upper"><img src="https://img.freepik.com/free-vector/illustration-circle-stamp-banner-vector_53876-27183.jpg?w=2000" alt="logo">
    <span>PMS WORK</span>
  </div>
  <div class="sub-container-lower">
    <ion-label class="one">About us</ion-label>
    <ion-label class="two"><p>A Mobile Application that aim to  n to PMS.</p></ion-label>
  </div>
  <div class="sub-container-footer">
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-twitter"></ion-icon>
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-icon name="logo-pinterest"></ion-icon>
    <ion-icon name="logo-youtube"></ion-icon>
  </div>
</div>