<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <p class="centered-p">Transaction</p>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/translist" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  
    
    <!-- <ion-searchbar [(ngModel)]="autocomplete.input" debounce = "500" (ionChange)="UpdateSearchResults('from')" placeholder="From"
      (ionClear)="ClearAutocomplete()"></ion-searchbar>
    <ion-searchbar [(ngModel)]="autocomplete.input" debounce = "500" (ionChange)="UpdateSearchResults('to')" placeholder="To"
      (ionClear)="ClearAutocomplete()"></ion-searchbar> -->
    <!-- <ion-searchbar [(ngModel)]="location.from" debounce = "500" (ionChange)="UpdateSearchResults('from')" placeholder="From"
      (ionClear)="ClearAutocomplete('from')"></ion-searchbar>
    <ion-searchbar [(ngModel)]="location.to" debounce = "500" (ionChange)="UpdateSearchResults('to')" placeholder="To"
      (ionClear)="ClearAutocomplete('to')"></ion-searchbar> -->
  
<!-- 
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->

  <ion-row>
    <!-- <ion-col size="6">
      <ion-text>Google & Ionic Map</ion-text>
    </ion-col> -->
    <!-- <ion-toolbar>
      <ion-button style="background:#FFFFFF" (click)="loadMap()" shape="round" fill="outline">
        <ion-icon slot="secondary" name="locate"></ion-icon>
        Where i am
      </ion-button>
    </ion-toolbar>  -->
    
  </ion-row>
</ion-header>
<ion-content>
  <!-- <ion-input [(ngModel)] = "odometer" placeholder="odometer"></ion-input>
  <ion-button (click) = "submit()" color="light">Submit</ion-button> -->

  <!-- 
    
    <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="map-wrapper" style="height: 100%;">
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>
    </div>
    <div #map id="map" style="height: 100%;"></div>
  </div> -->

  <ion-item>
    <ion-label position="floating">Starting point</ion-label>
    <ion-input [(ngModel)]='transaction.address_start' ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Starting odometer</ion-label>
    <ion-input [(ngModel)]='transaction.odometer_start'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Destination</ion-label>
    <ion-input [(ngModel)]='transaction.address_end'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Succeeding Odometer</ion-label>
    <ion-input [(ngModel)]='transaction.odometer_end'></ion-input>
  </ion-item>
  
  <ion-item>Date</ion-item>
<ion-item>
  <ion-datetime  presentation="time-date" [(ngModel)]="transaction.datetime">Date</ion-datetime>
</ion-item>

<!-- <ion-button slot="" (click)="submit()" color="warning" expand="block">Submit
  <ion-icon slot="end" name="add"></ion-icon>
</ion-button> -->

  
</ion-content>