<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="">
      <p class="centered-p">PMS List</p>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/slist" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      
      <ion-button fill="clear" (click)="presentModal()">
        <ion-icon slot="icon-only" name="information-circle" style="padding-top: 10px; color: #f6e8b1;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of pms_list">
      <ion-icon slot="end" name="{{getIcon(item.done, item)}}"></ion-icon>
      <ion-label (click) = "goTo(item.alert,vehicle_id,item.pms_kms,item)">PMS ({{ item.pms_kms.toString() }}KM)</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-icon slot="end" name="warning"></ion-icon>
      <ion-label [routerLink]="['/pms/',vehicle_id,'1000']">PMS (1,000KM)</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="alert-circle-sharp"></ion-icon>
      <ion-label [routerLink]="['/pms/',vehicle_id,'5000']">PMS (5,000KM)</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="alert-circle-sharp"></ion-icon>
      <ion-label [routerLink]="['/pms/',vehicle_id,'10000']">PMS (10,000KM)</ion-label>
    </ion-item> -->
  </ion-list>

</ion-content>
