<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <p class="centered-p">Other Service List</p>
    </ion-title>


    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vinfo" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>


</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addservicelist',id]">
      <ion-icon name="add"></ion-icon> 
    </ion-fab-button>
  </ion-fab> 
 
  <ion-list lines="none"> 
    <!-- <ion-item-group >

      <ion-item routerLink="/addservices">
        <ion-label></ion-label>
        <ion-avatar slot="start">
          <img src="assets/imgs/pic1.jpg">
        </ion-avatar>
        <ion-label>
          <h2>click</h2>
          <h3>for more info</h3>

        </ion-label>
      </ion-item>

    </ion-item-group> -->
    
    <ion-item-sliding [routerLink]="['/viewservice', id,service.id,'edit']" *ngFor="let service of services">
      <ion-item>
        <ion-label>{{service.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <!-- <ion-item-sliding routerLink="/addservices">
      <ion-item>
        <ion-label>tune-up</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/addservices">
      <ion-item>
        <ion-label>fluid check</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/addservices">
      <ion-item>
        <ion-label>Engine</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/addservices">
      <ion-item>
        <ion-label>air filter</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/addservices">
      <ion-item>
        <ion-label>tire rotation</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding routerLink="/addservices">
      <ion-item>
        <ion-label>battery</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->

  
    


  </ion-list>
</ion-content>