<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="">
      Update
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button name="arrow-back-outline"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-content class="profile">
    <div align="center">
      <ion-avatar>
        <img src="assets/imgs/pic1.jpg" />
        <ion-label><strong>
            <h1>Aaron Paul</h1>
          </strong></ion-label>
      </ion-avatar>
    </div>
    <ion-item>
      <ion-input placeholder="name"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="number" placeholder="phoneno"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="vehicle brand"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-input type="email" placeholder="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="age"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input  placeholder="address"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>birthday</ion-label>
      <ion-datetime formControlName="bday"
        displayFormat="DD.MM.YYYY"
        presentation="date"
        [(ngModel)]="date"
      ></ion-datetime>
    </ion-item> -->

    

    

    
    

    <!-- <ion-list>
      <ion-radio-group value="gender">
        <ion-list-header>
          <ion-label>gender</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio slot="start" value="male"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio slot="start" value="female"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list> -->

    


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button type="submit" >
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>