
<ion-header class="ion-no-border">
  <ion-toolbar color ="primary">
    <ion-title class="ion-text-center">
  Vehicle Info
    </ion-title>
  <ion-buttons slot="start"></ion-buttons>
    <ion-menu-button menuId="custom-menu"></ion-menu-button>
  </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentAlert()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>hgdhdhdhdhdhh</p>
</ion-content>
