<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-label> Dashboard</ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menuId="custom-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentModal()">
        <ion-icon slot="icon-only" name="information-circle" style="padding-top: 10px; color: #f6e8b1;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
  (ionScrollEnd)="logScrollEnd()">



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="testClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="none">
    <ion-item-group >

      
        <!-- <ion-item [routerLink]="['/vinfo', vehicle.id]" *ngFor="let vehicle of vehicles">
          <ion-label>{{vehicle.plate_number}}</ion-label>
          <ion-avatar slot="start">
            <img src="assets/imgs/pic1.jpg">
          </ion-avatar>
          <ion-label>
            <h2>click</h2>
            <h3>for more info</h3>
          </ion-label>
        </ion-item> -->

        <ion-item-sliding [routerLink]="['/vinfo', vehicle.id]" *ngFor="let vehicle of vehicles">
          <ion-item>
            <ion-label>{{vehicle.plate_number}}</ion-label>
            <ion-avatar slot="start">
              <img src="assets/imgs/pic1.jpg">
            </ion-avatar>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="unread(item)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        

    </ion-item-group>
  </ion-list>
</ion-content>