
<ion-content class="ion-text-center">
  <img src="assets/imgs/logo.gif" />
  
</ion-content>

<ion-footer class="ion-no-border">

  <ion-list lines="none">
    <ion-item>
      <ion-label color="dark">
        <h1><strong>"Your Vehicle Journal"</strong></h1>
        <p class="ion-text-wrap ion-text-justify">
          <ion-text>
            The Best Application for all Vehicle Owners, To help and remind for your vehicle needs and to take records with ease.
          </ion-text>
          <ion-text>
             
          </ion-text>
        </p>
        <ion-row class="ion-padding-vertical">
          <ion-col size="6">
            <ion-button routerLink="/welcome/signin" 
              size="default" expand="block" shape="round" color="dark">
              Sign In
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button routerLink="/welcome/signup" 
              size="default" expand="block" shape="round" color="white">
              Sign Up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-footer>