<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <p class="centered-p">Vehicle Info</p>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>

    <ion-item>
      <ion-label position="floating">Vehicle Brand</ion-label>
      <ion-input formControlName="brand" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-button>Select Images</ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Plate Number</ion-label>
      <ion-input formControlName="plate_number" type="text" required></ion-input>
    </ion-item>



    <!-- <ion-item >
    <ion-label>Vehicle type</ion-label>
    <ion-select  formControlName="vehicle_type">
      <ion-select-option value="4 wheels">4 wheels</ion-select-option>
      <ion-select-option value="3 wheels">3 wheels</ion-select-option>
      <ion-select-option value="2 wheels">2 wheels</ion-select-option>
    </ion-select>
  </ion-item> -->

    <ion-item>
      <ion-label>Date of Purchase</ion-label>
      <ion-datetime formControlName="date_purchased" displayFormat="DD.MM.YYYY" presentation="date" [(ngModel)]="date">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Chasis</ion-label>
      <ion-input formControlName="chasis" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Coding</ion-label>
      <ion-input formControlName="coding" type="text" required [(ngModel)]='coding' value="{{coding}}"></ion-input>
    </ion-item>

    <!-- <ion-item >
    <ion-label>coding</ion-label>
    <ion-select multiple="true" [value]="['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']" formControlName="vehicle_coding">
      <ion-select-option value="Monday">monday</ion-select-option>
      <ion-select-option value="tuesday">tuesday</ion-select-option>
      <ion-select-option value="wednesday">wednesday</ion-select-option>
      <ion-select-option value="thursday">thursday</ion-select-option>
      <ion-select-option value="friday">friday</ion-select-option>
      <ion-select-option value="saturday">saturday</ion-select-option>
      <ion-select-option value="sunday">sunday</ion-select-option>
    </ion-select>
  </ion-item> -->


    <ion-item>
      <ion-label>Notes</ion-label>
      <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." formControlName="notes"></ion-textarea>
    </ion-item>

    <ion-button type="submit" color="warning" expand="block">
      <ion-label color="light">Submit</ion-label>

    </ion-button>
  </form>

</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/slist',id]">
        <ion-icon name="car-outline"></ion-icon>
        <ion-label>Services</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/translist',id]">
        <ion-icon name="calculator"></ion-icon>
        <ion-label>Transactions</ion-label>
      <!-- </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>