<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="">
      <p class="centered-p">Transaction</p>
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/translist" name="arrow-back-outline"></ion-back-button>
    </ion-buttons>

    <!-- <capacitor-google-map id="map"></capacitor-google-map> -->

  </ion-toolbar>
</ion-header>



<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">

<ion-tabs>
      <!-- Searchbar with a placeholder -->
      <ion-searchbar slot="top" placeholder="From"></ion-searchbar>
      <ion-searchbar slot="top" placeholder="to"></ion-searchbar>
</ion-tabs>


</ion-content>